player-connection-mode=Listen
player-connection-guid=3187991597
player-connection-debug=1
player-connection-wait-timeout=-1
player-connection-ip=192.168.2.17
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
wait-for-managed-debugger=1
scripting-runtime-version=legacy
vr-enabled=0
hdr-display-enabled=0
